[submodule "services/monster-raid"]
	path = services/monster-raid
	url = https://github.com/Nickseen/tamagotchi-monster-raid.git
[submodule "services/map"]
	path = services/map
	url = https://github.com/Nickseen/tamagotchi-map.git
[submodule "services/battle"]
	path = services/battle
	url = https://github.com/vladas9/tamagotchi-battle.git
[submodule "services/user-management"]
	path = services/user-management
	url = https://github.com/vladas9/tamagotchi-user-management.git
